<!DOCTYPE html>
<html>
    <head>
        <title>Shop Admin</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="dark">

    <nav class="navbar">
        <div class="nav-left">XIONCO Admin</div>
        <div class="nav-right">
            <a href="/">Home</a>
            <a href="/product">Stock</a>
            <a href="/purchase">Log</a>
            <a href="/purchase/form">Purchase</a>
        </div>
    </nav>

    <main class="container">
        <%- body %>
    </main>
    <script src="/js/main.js"></script>

    </body>
</html>