<h2 class="title">Product Details</h2>

<div class="card-detail">
    <img src="<%= product.image_url %>" class="image" />
    <h3><%= product.name %></h3>
    <p>Price: <%= product.price.toLocaleString() %></p>
    <p>Stock: <%= product.stock %></p>
</div>